<html>
<head>
        <meta http-equiv="X-UA-Compatible"content="IE=edge">
        <title>NBA2转转乐模拟器</title>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <script>
                var stats={};
                $("document").ready(function(){
                        $.ajaxSetup({cache:false})
                        $("#start").click(function(){
                                stats={};
//                              alert($("#wuid").val());
                                $.get('/simulator_checkin2/?p=<%=p %>&wuid='+$("#wuid").val(), function(resp){
                                        //$("#console").html(resp);
                                        var r = JSON.parse(resp);
                                        var tu = r['data']['tu'];
                                        if(tu>0){
                                                var cv = "用户登录:" + r['n']+" （出现新增物品组则停止刷新）"
                                                $("#console").html(cv);
                                                play_gacha(tu,$("#gid").val(),$("#num").val(),$("#select").val());
                                        }
                                });
                        });
                        
                        $("#stat").click(function(){
                                alert(JSON.stringify(stats));
                        });
                });
                window.play_gacha=function(uid,iid,num,select){
                        if(num == 0){
                                 alert("模拟结束");
                                 return;
                        }
                        var selectre = new RegExp(select);
                        $.ajax({url:'/simulator_circle2/?p=<%=p %>&uid='+uid,async:false,beforeSend:function(){},success:function(resp) {
                                var cv = $("#console").html();
                                var r = JSON.parse(resp);
                                var l = r["circle"];
                                if(r["code"] != 200){
                                        $("#console").html(cv+"\r\n"+resp);
                                }else{
                                        var l_id = "";
                                        for(k in l){
                                                l_id += l[k] + ",";
                                                if(stats[l[k]]) {
                                                        stats[l[k]] ++;
                                                }else{
                                                        stats[l[k]] = 1;
                                                }
                                        }
                    if (selectre.test(l)){
                                                $("#console").html(cv+"\n"+l);
                                                num = 1;
                                        }
                                }
                                setTimeout(function(){play_gacha(uid, iid, num-1,select)},1000);
                        }});
                        
                };
        </script>
</head>
<body style='font-family:Microsoft Yahei", "Helvetica Neue", "Luxi Sans", "DejaVu Sans", Tahoma, "Hiragino Sans GB", 宋体 !important'>
        <h1 align="center">NBA2转转乐模拟器</h1>
                <label>wuid:</label>
                <input id="wuid" name="wuid" type="text" />
                <label>新增物品组id或名字:</label>
                <input id="select" name="select" tpye="text" />
                <label>次数:</label>
                <input id="num" name="num" tpye="text" />
                <button id="start">刷新转盘</button><br/>
                <br/>  
                <button id="stat">统计刷新结果</button>
        <h5>说明:</h5>
        <ul>
                <li>
                        此工具仅为模拟大量重置转盘之用，不能作为测试游戏正确性的依据
                </li>
                <li>
                        在开始重置转盘前，请保证wuid的正确性，并保证wuid的帐户中有足够的钻石
                </li>
        </ul>
        <p>
                <textarea id="console" style="width:1220px;height:300px;"></textarea>
        </p>
        <hr>
        <a href="/process/">测服工具</a>
</body>
</html>
