<html>
<head>
        <title>三分赛模拟器</title>
</head>
<body>
        <h1 align="center">三分赛模拟器</h1>
        <h4>说明:</h4>
        <ul>
                <li>服务器时间调整到下周一发放本周奖励</li>
                <li>先改时间再跑</li>
                <li>不要按F5或者浏览器刷新页面按钮，否则会导致结果出错，必要时点击下方刷新页面链接<li>
        </ul>
        <hr>
        <b>STEP1:</b><a href="/">去修改时间</a>
        <p>
               
        </p>
        <b>STEP2:<a href="/simulator_threepoint/?p=<%=p %>&ac=1">联赛结算</a>
        <p>
                <textarea id="console" style="width:1220px;height:300px;"><%=log %></textarea> 
        </p>
	<hr>
	<a href="/simulator_threepoint/?p=<%=p %>">刷新页面</a> | <a href="/process/" >测服工具</a>
	
</body>
</html>


