<html>
<head>
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible"content="IE=edge">
        <title>NBA2转转乐模拟器</title>
        <link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.0/css/bootstrap-combined.min.css" rel="stylesheet">
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
		<script type="text/javascript">             
            function tongji(){
        		var results = $("#console").html();
            	var stats={};
        		var result=results.replace(/[\n]/ig,',').split(",");
                    for(k in result){
                            if(stats[result[k]]) {
                                    stats[result[k]] ++;
                            }else{
                                    stats[result[k]] = 1;
                            }
                    }
                alert(JSON.stringify(stats));
            }
		</script>
</head>
<body class='container'>
    <h1 align="center">NBA2转转乐模拟器</h1>
    <div id='content' class='row-fluid'>
      <div class='span4 sidebar'>
        <form method='post'>
          <p>玩家wuid:</br></br> <input type='text' name='wuid' id='wuid' placeholder='玩家wuid' value=<%= info.wuid %> /></p>
          <p>新增物品组id或名字:</br></br> <input type='text' name='select' id='select' placeholder='新增物品组id或名字' value=<%= info.select %> /></p>
          <p>次数:</br></br><input type='text' name='num' id='num'  value=<%= info.num %> /></p>
          <p><input type='submit' name='submit' value='刷新转盘'/></p>
        </form>
        <br/>  
        <input type='submit' value="统计结果" onclick='tongji();'/>
        <h5>说明:</h5>
        <ul>
                <li>
                        在设置次数内刷到新增物品组则停止请求，否则将所有次数用完再停止请求
                </li>
                <li>
                        此工具仅为模拟大量刷新转盘之用，不能作为测试游戏正确性的依据
                </li>
                <li>
                        在开始重置转盘前，请保证wuid的正确性，并保证wuid的帐户中有足够的钻石
                </li>
        </ul>

        </div>

<div class='span8 main'>
<textarea id="console" style="width:1220px;height:600px;">
<%= msg %>
<% results.forEach(function (result, index) { %>
<%= result.circle %>
<% }) %>
</textarea>
</div>
</div>
<a href="/process/">测服工具</a>
</body>
</html>
